# Node / Next.js
node_modules/
.next/
.out/
.vercel/

# Env & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Prisma
prisma/dev.db*
prisma/*.db*
prisma/*.db-journal

# Build artifacts
coverage/
dist/

# Misc
*.local
*.cache
.cache/
